/* scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 5rem;
}

::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 5rem;
}
/*  scroll progress */
#scroll-progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #222;
  z-index: 50;
}
#progress-bar {
  height: 100%;
  background-color: #5027e6;
  width: 1%;
}

/* rainbow btn */

.rainbow_btn {
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
}

.rainbow_btn::before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 50%;
}

.rainbow_btn:active {
  color: #000;
}

.rainbow_btn:active::after {
  background: transparent;
}

.rainbow_btn:hover::before {
  opacity: 1;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

/* Contact form */

form {
  padding-top: 40px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  backdrop-filter: blur(3px);
  border-radius: 1rem;
  border: 1px solid rgb(255, 255, 255);
  width: 40%;
  margin-right: auto;
  margin-left: auto;
  background: #bababa;
}

form h1 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 45px;
  font-weight: bold;
}

label {
  font-size: 18px;
}

form div div {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid white;
}

form i {
  margin-right: 1rem;
  font-size: 20px;
}

input {
  all: unset;
  transition: 0.1s ease-in-out;
  font-size: 17px;
}

input {
  height: 50px;
  width: 300px;
  margin-top: 0.2rem;
}

@media screen and (max-width: 550px) {
  input,
  button {
    width: 100%;
  }
  form {
    width: 99%;
  }
}

/* Submit button */
button {
  font-family: inherit;
  font-size: 20px;
  background: #013be9;
  color: #ffffff;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
  width: 400px;
  margin-top: 40px;
  margin-bottom: 40px;
}

button span {
  display: block;
  margin-left: 6em;
  transition: all 1s ease-in-out;
}

button svg {
  display: block;
  transform-origin: center center;
  transition: transform 1s ease-in-out;
}

button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

button:hover svg {
  transform: translateX(8.2em) rotate(45deg) scale(1.1);
}

button:hover span {
  transform: translateX(25em);
}

button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

/* footer */

footer {
  height: 100px;
  text-align: center;
  margin-top: 10%;
}
